@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@font-face{
    font-family: 'Gilroy';
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

/*--------LOGIN-REGISTER--------*/
.loginpg{
    background: #1d1b31;
    height: 100vh;
    overflow: hidden;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    border-radius: 10px;
}
.center h1{
    text-align: center;
    padding: 15px 0 0 0;
    color: #1d1b31;
}
.center form{
    padding: 0 40px;
    box-sizing: border-box;
}
.center form .txtfield{
    position: relative;
    border-bottom: 2px solid #1d1b31;
    margin: 30px 0;
}
.txtfield input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #1d1b31;
}
.txtfield label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #1d1b31;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}
.txtfield span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #1d1b31;
    transition: 0.5s;
}
.txtfield input:focus~label,
.txtfield input:valid~label{
    top: -5px;
    color: #1d1b31;
}
.txtfield input:focus~span::before,
.txtfield input:valid~span::before{
    width: 100%;
}
input[type="submit"]{
    margin-left: 45px;
    width: 70%;
    height: 50px;
    border: 1px solid;
    background: #1d1b31;
    border-radius: 25px;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-color: #1d1b31;
    transition: 0.5s;
}
.signup_link,
.signin_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #1d1b31;
}
.signup_link a,
.signin_link a{
    color: blue;
    text-decoration: none;
}
.signup_link a:hover,
.signin_link a:hover{
    text-decoration: underline;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@media screen and (max-width: 700px){
    /*--LOGIN REGISTER--*/
    .loginpg{
        background: #1d1b31;
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        background: #fff;
        border-radius: 10px;
    }
    .center h1{
        text-align: center;
        padding: 15px 0 0 0;
        color: #1d1b31;
    }
    .center form{
        padding: 0 40px;
        box-sizing: border-box;
    }
    .center form .txtfield{
        position: relative;
        border-bottom: 2px solid #1d1b31;
        margin: 30px 0;
    }
    .txtfield input{
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
        color: #1d1b31;
    }
    .txtfield label{
        position: absolute;
        top: 50%;
        left: 5px;
        color: #1d1b31;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: 0.5s;
    }
    .txtfield span::before{
        content: '';
        position: absolute;
        top: 40px;
        left: 0;
        width: 0%;
        height: 2px;
        background: #1d1b31;
        transition: 0.5s;
    }
    .txtfield input:focus~label,
    .txtfield input:valid~label{
        top: -5px;
        color: #1d1b31;
    }
    .txtfield input:focus~span::before,
    .txtfield input:valid~span::before{
        width: 100%;
    }
    input[type="submit"]{
        margin-left: 45px;
        width: 70%;
        height: 50px;
        border: 1px solid;
        background: #1d1b31;
        border-radius: 25px;
        font-size: 18px;
        color: #fff;
        font-weight: 700;
        cursor: pointer;
        outline: none;
    }
    input[type="submit"]:hover{
        border-color: #1d1b31;
        transition: 0.5s;
    }
    .signup_link,
    .signin_link{
        margin: 30px 0;
        text-align: center;
        font-size: 16px;
        color: #1d1b31;
    }
    .signup_link a,
    .signin_link a{
        color: blue;
        text-decoration: none;
    }
    .signup_link a:hover,
    .signin_link a:hover{
        text-decoration: underline;
    }
    .alert {
      padding: 20px;
      background-color: #f44336;
      color: white;
      text-align: center;
    }

    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .closebtn:hover {
      color: black;
    }
}
